[submodule "Externals/CocoaAsyncSocket"]
	path = Externals/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "Externals/FFmpeg/FFmpeg"]
	path = Externals/FFmpeg/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "Externals/CocoaHTTPServer"]
	path = Externals/CocoaHTTPServer
	url = https://github.com/robbiehanson/CocoaHTTPServer.git
